.player{
    display: flex;
    align-items: center;
    background-color: rgba(182, 180, 178, 0.8);
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
    span{
        font-size: 18px;
        margin-left: 15px;
    }
    img{
        height: 50px;
        height: 50px;
        border-radius: 100%;
        object-fit: cover;
       
    }
}

.player-active{
 background-color: orange;
}