.gameField {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/img/board.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-c-position{
    position: absolute;
    right: 0;
}

.card-stack {
    position: relative;
    top: 117px;
    left: -81px;

    img {
        position: absolute;
        height: 136px;
        width: 100px;
    }
}

.top-card{
    cursor: pointer;
    transition: all 225ms ease-in-out;
    &:hover{
        transform: scale(1.1) translateY(-10px);
    }
}

.played-card{
    transform: scale(1.4) translateX(140px) translateY(-180px) rotate(-10deg);

}
.pickCard{
    animation: pickCard-animation 1.5s ease-in-out;
    transform: scale(1.4) translateX(340px) translateY(-380px) rotate(-10deg);
}

@keyframes pickCard-animation{
    0%{
        transform: scale(1);
    }
    30%{
        transform: scale(1.7);
    }
    50%{
        transform: scale(1.7);
    }
    100%{
        transform: scale(1.4) translateX(140px) translateY(-180px) rotate(-10deg);
    }
}

.add-btn{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.gameInfo-c-position{
    position: absolute;
    bottom: 10px;
    right: 100px;
    left: 100px;
}